<div class="card text-white bg-success text-center">
	<div class="card-body">
		<h5 class="card-title">ELOguesser</h5>
		<div class="card-text">


			<div class="row g-3 mt-2 justify-content-center">
				Maybe some text here with extra info and stuff but idk.
			</div>

			<div class="row g-3 mt-2 justify-content-center">

				<div class="col-auto">
					<label for="round" class="col-form-label">How many rounds</label>
				</div>
				<div class="col-2">
					<input type="number" id="round" class="form-control" placeholder="5">
				</div>
			</div>
			<div class="row g-3 mt-1 justify-content-center">
				<div class="col-3">
					<button class="btn btn-secondary px-3" routerLink="/guess">Start Game</button>
				</div>
			</div>



		</div>
	</div>
</div>