<div class="d-flex mt-5 flex-column-reverse flex-lg-row">




	<div class="">
		<div class="d-flex justify-content-center">
			<ngx-chess-board #board [lightDisabled]="true" [darkDisabled]="true" [pieceIcons]="icons"
				class="border border-dark"></ngx-chess-board>
		</div>
		<hr>
		<div class="mx-auto" style="width:220px">
			<button type="button" class="btn btn-primary" (click)="loadGame()">Load</button>
			<button type="button" class="btn btn-primary" (click)="prev()">Back</button>
			<button type="button" class="btn btn-primary" (click)="next()">Next</button>
		</div>



	</div>

	<div class="px-4"></div>

	<div class="flex-grow-1 mb-5">
		<router-outlet></router-outlet>

		<!-- pgn -->
		<div class="pgn-container mx-auto mt-5 p-2 border border-dark">
			<span *ngFor="let move of pgnSplitWithoutNums; let i = index" [attr.data-index]="i">
				<span *ngIf="i%2===0">{{"  "+(1+i/2)+". "}}</span>
				<span class="pgn-move"[ngStyle]="{'background-color': (i == movePointer - 1) ? '#73c7af' : '#ffffff'}">{{move}}</span>
				<span>{{" "}}</span>
			</span>

			<span>  {{pgnScore}}</span>
		</div>
	</div>


</div>